@import "./variables.module";

.container {
  padding: 0 2rem;

}

.main {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &_btc {
    display: flex;
    flex-direction: column;
    background-image: url('/img/btc_background.jpeg');
    background-size: cover;
    width: 500px;
    height: 250px;
    border: $border-line;
    border-radius: 10px;
    font-size: 2rem;
    font-weight: 600;
    color: #fbfbfb;
  }
}

.price {
  margin-right: 10px;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: 10px;
}

.name {
  font-size: 1.5rem;
  margin-top: 10px;
  margin-left: 10px;
}

.sup_symbol {
  font-size: 1.2rem;
}

.wrapper {
  display: flex;
}

.footer {
  height: 15vh;
  display: flex;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.logo {
  margin-left: 20px;
}

.logo:hover,
.logo:focus,
.logo:active {
  opacity: 0.7;
}
